.App {
  text-align: center;
  margin-top: 6em;
  margin-left: 10em;
  margin-right: 10em;
  background-color: rgb(58, 133, 74);
  border: 5px solid rgb(122, 146, 152);
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}


.error-output {
  margin-left: 10px;
  font-size: 12px;
  font-style:oblique;
  color: blue;
}

body {
  background-color: rgb(113, 136, 91);
}

.image {
  height: 15em;
  width: 20em;
}